<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="features" type="Switcheroo.Configuration.FeatureToggleConfiguration, Switcheroo"/>
  </configSections>
  <features>
    <toggles>
      <add name="testSimpleEnabled" enabled="true" />
      <add name="testSimpleDisabled" enabled="false" />
      <add name="testImmutable" enabled="true" mutable="false" />
    </toggles>
  </features>
</configuration>