<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="features" type="Switcheroo.Configuration.FeatureToggleConfiguration, Switcheroo"/>
  </configSections>
  <features>
    <toggles>
      <add name="testSimpleEnabled" enabled="true" />
      <add name="testSimpleDisabled" enabled="false" />
      <add name="testDateRange" enabled="true" from="1 November 2012" until="2 November 2012" />
      <add name="testDateRangeFromOnly" enabled="true" from="1 November 2012"/>
      <add name="testDateRangeUntilOnly" enabled="true" until="2 November 2012" />
      <add name="testEstablished" established="true"/>
      <add name="testDependencies" dependencies="testSimpleEnabled,testSimpleDisabled"/>
    </toggles>
  </features>
</configuration>