<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="features" type="Switcheroo.Configuration.FeatureToggleConfiguration, Switcheroo"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <features>
    <toggles>
      <!-- Toggle Examples -->

      <!-- Simply boolean toggles -->
      <add name="BooleanToggle.Enabled" enabled="true"/>
      <add name="BooleanToggle.Disabled" enabled="false"/>

      <add name="Date.Enabled.InRange" enabled="true" from="1 January 2010" until="31 December 2050"/>
      <add name="Date.Enabled.Expired" enabled="true" until="31 December 2010"/>
      <add name="Date.Enabled.Future"  enabled="true" from="1 January 2050"/>
      <add name="Date.Disabled" enabled="false"/>

      <add name="EstablishedFeature" established="true"/>
      
      <add name="SubFeature1" enabled="true" dependencies="MainFeature"/>
      <add name="SubFeature2" enabled="true" dependencies="MainFeature"/>
      
      <add name="MainFeature" enabled="true" />
      
      <!--- Logger Examples -->
      <add name="Log.InColor" enabled="true"/>
    </toggles>
  </features>
</configuration>
